$primary: #ba0101;
$success: #2ea875;
$info: #0009b3;
$warning: #ff6c1e;
$danger: #ea0005;
$dark: #240002;

$spacer: 14px;

$font-size-base: 0.9rem;
$font-family-base: "Gotham Rounded";

.lead {
	font-family: "Varela Round";
}

$accordion-button-padding-y: 0;
$accordion-button-padding-x: 16px;
$accordion-body-padding-y: 0;
$accordion-body-padding-x: 0;

$alert-margin-bottom: 0;

.icon-fill:hover {
	color: white;
	background-color: $primary;
}

.icon-fill {
	color: $dark;
}

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "gotham-fonts/css/gotham-rounded.css";
