$primary: #ba0101;
$success: #2ea875;
$info: #0009b3;
$warning: #ff6c1e;
$danger: #ea0005;
$dark: #240002;

$spacer: 16px;

$accordion-button-padding-y: 0;
$accordion-button-padding-x: 16px;
$accordion-body-padding-y: 0;
$accordion-body-padding-x: 0;

$alert-margin-bottom: 0;

.vstack {
	padding: $spacer;
	gap: $spacer;

	.vstack {
		gap: $spacer / 2;
	}
}

.tab-content {
	padding-top: $spacer;

	.tab-pane > *:nth-child(1) {
		padding-top: 0;
	}
}

.icon-fill {
	color: $dark;

	&:hover {
		color: white;
		background-color: $success;
	}
}

#header {
	img {
		height: 100px;
	}
}

#footer {
	a {
		text-decoration: underline;
	}
}

#about {
	div[align="center"],
	#rosanta {
		display: none;
	}
}

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
